<?php echo $this->doctype(); ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle('Eoko - ' . $this->translate('Bug Reporter'))->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

		<!-- Le styles -->
		<?php
		echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
				->prependStylesheet($this->basePath() . '/css/style.css')
				->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
		?>

		<!-- Scripts -->
<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
		->prependFile($this->basePath() . '/js/jquery-1.7.2.min.js')
?>

	</head>

	<body>
		<div class="container">

			<?php echo $this->content; ?>

			<hr/>

			<?php echo $this->footer; ?>

		</div> <!-- /container -->

		<?php echo $this->inlineScript() ?>
	</body>
</html>
