<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
        <div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="<?php echo $this->url('application/simple') ?>"><?php echo $this->translate('Eoko Bug Reporter') ?></a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="<?php echo $this->url('application/simple') ?>"><?php echo $this->translate('Accueil') ?></a></li>
				</ul>
			</div><!--/.nav-collapse -->
        </div>
	</div>
</div>