<script>
// Requires jQuery!
jQuery.ajax({
    url: "http://jira.eoko-lab.fr/s/fr_FR-1w5mkl/729/3/1.2.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=aebbad16",
    type: "get",
    cache: true,
    dataType: "script"
});

jQuery.ajax({
    url: "http://jira.eoko-lab.fr/s/fr_FR-1w5mkl/729/3/1.2.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=1629cb71",
    type: "get",
    cache: true,
    dataType: "script"
});

jQuery.ajax({
    url: "http://jira.eoko-lab.fr/s/fr_FR-1w5mkl/729/3/1.2.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=50543322",
    type: "get",
    cache: true,
    dataType: "script"
});

jQuery.ajax({
    url: "http://jira.eoko-lab.fr/s/fr_FR-1w5mkl/729/3/1.2.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=eef7ab06",
    type: "get",
    cache: true,
    dataType: "script"
});

window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {
    'aebbad16' : {       
        triggerFunction: function(showCollectorDialog) {
			//Requries that jQuery is available! 
			jQuery("#openceReportBug").click(function(e) {
				e.preventDefault();
				showCollectorDialog();
			});
		}
    },
    '1629cb71' : {       
        triggerFunction: function(showCollectorDialog) {
			//Requries that jQuery is available! 
			jQuery("#openceReportImprovement").click(function(e) {
				e.preventDefault();
				showCollectorDialog();
			});
		}
    },
    '50543322' : {       
        triggerFunction: function(showCollectorDialog) {
			//Requries that jQuery is available! 
			jQuery("#bugreportReportBug").click(function(e) {
				e.preventDefault();
				showCollectorDialog();
			});
		}
    },
    'eef7ab06' : {       
        triggerFunction: function(showCollectorDialog) {
			//Requries that jQuery is available! 
			jQuery("#bugreportReportImprovement").click(function(e) {
				e.preventDefault();
				showCollectorDialog();
			});
		}
    }
});

</script>
<div class="hero-unit">
    <h1>Eoko Bug Reporter <small>for #opence</small></h1>
	<p>Bienvenue sur notre plateforme de gestion des demandes d'opence. </p>
	<hr/>	
    <p>
		<a id="openceReportBug" class="btn btn-warning btn-large" href="#">Déclarer un incident</a>
		<a id="openceReportImprovement" class="btn btn-success btn-large" href="#">Demander une amélioration</a>
		<a class="btn btn-primary btn-large" href="mailto:support@eoko.fr">Nous contacter par mail</a>
	</p>
</div>
<div class="hero-unit">
    <h2>Améliorer Eoko Bug Reporter</h2>
	<p>Ici, le coordonier est toujours bien chaussé, aidez le a inventer les nouvelles collections. Ainsi, afin d'améliorer Eoko Bug Reporter, n'hésitez pas à nous faire part de vos soucis et demandes.</p>
	<h3>Pour nous, c'est important d'améliorer nos services.</h3>
	<hr/>
    <p>
		<a id="bugreportReportBug" class="btn btn-warning btn-large" href="#">Déclarer un incident</a>
		<a id="bugreportReportImprovement" class="btn btn-success btn-large" href="#">Demander une amélioration</a>
	</p>
</div>